.instance-container {
  margin-bottom: 1.5rem;
}

.instance-info {
  text-align: center;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 110px;
}

.array-bar {
  width: 10px;
  display: inline-block;
  margin: 0 1px;
}

.button-container .selected {
  background-color: #98fb98;
  color: black;
  font-weight: bold;
}
