h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

button {
  font-size: 1.1rem;
  margin: 0 4px;
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

label {
  font-size: 1.1rem;
}

input[type="range"] {
  cursor: pointer;
}
