button {
  margin: 0 4px;
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

input[type="range"] {
  cursor: pointer;
}

input[type="range"]:disabled {
  cursor: auto;
}
